.navbar {
  padding: 15px 0;
  margin-bottom: -1px !important;
  transition: all 1s ease !important;
  .navbar-brand {
    padding: 5px;
  }
  .logo_sm {
    display: none;
  }
  background-color: transparent;
  a {
    color: whitesmoke;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 100;
  }
  .icon-bar {
    background-color: white;
  }
  a {
    transition: all 0.3s ease;
  }
}
.nav_white {
  background-color: #1f5172 !important;
  opacity: 1;
  box-shadow: 3px 3px 3px #0a2e44;
  transition: all 1s ease !important;
}
#background_top {
  position: relative;
  top: -20px;
  background-image: url("{{ site.baseurl }}/../../img/test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}
.slide {
  transition: transform 2s ease-in-out !important;
  .carousel-inner {
    .item {
      -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
      -o-transition: -o-transform 1.2s ease-in-out !important;
      transition: transform 1.2s ease-in-out !important;
      img {
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        object-fit: cover;
      }
      .carousel-caption {
        font-size: 26px;
        text-shadow: 5px 5px 5px black;
        margin-bottom: 50px;
      }
    }
  }
}
#slogan {
  font-family: "Microsoft JhengHei";
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 2px rgb(104, 104, 104);
  #first_line {
    position: absolute;
    left: 30vw;
    top: 48%;
  }
  #second_line {
    position: absolute;
    left: 50vw;
    top: 58%;
  }
}
#breadcrumb {
  font-family: "Microsoft JhengHei";
  color: rgb(148, 148, 148);
  font-size: 13px;
  padding: 10px 25px 25px 20px;
  line-height: 22px;
  a {
    text-decoration: none;
    color: rgb(89, 138, 155);
    transition: all 0.2s ease;
  }
  a:hover {
    color: rgb(130, 179, 196);
  }
}
footer {
  background-color: rgb(214, 214, 214);
  padding: 20px 20px 30px 20px;
  h4 {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 27px;
    color: rgb(102, 102, 102);
    a {
      color: rgb(102, 102, 102);
      transition: all 0.3s ease;
    }
    a:hover {
      color: #469dc2;
      text-decoration: none;
    }
  }
}
.general-heading-line {
  background-color: #1a6584;
  height: 4px;
  line-height: 0;
  width: 48px;
  margin: 20px auto 45px;
}
@media only screen and (max-width: 992px) {
  #slogan {
    #first_line {
      left: 25vw;
    }
    #second_line {
      left: 45vw;
    }
  }
}
@media only screen and (max-width: 475px) {
  #slogan {
    font-size: 30px;
    #first_line {
      left: 15vw;
    }
    #second_line {
      left: 35vw;
    }
  }
}
@media only screen and (max-width: 400px) {
  .logo_sm {
    display: block !important;
    padding-left: 10px;
  }
  .logo {
    display: none !important;
  }
}
