.navbar {
  padding: 15px 0;
  margin-bottom: -1px !important;
  transition: all 1s ease !important;
  .navbar-brand {
    padding: 5px;
  }
  .logo_sm {
    display: none;
  }
  background-color: transparent;
  a {
    color: whitesmoke;
    font-family: "GenSenRounded";
    font-weight: 100;
  }
  .icon-bar {
    background-color: white;
  }
  a {
    transition: all 0.3s ease;
  }
  .dropdown-menu {
    background-color: #1176b1;
    a {
      color: whitesmoke;
    }
  }
}
.nav_white {
  background-color: #316588 !important;
  opacity: 1;
  box-shadow: 3px 3px 3px #174c6e;
  transition: all 1s ease !important;
}
#background_top {
  position: relative;
  top: -20px;
  background-image: url("{{ site.baseurl }}/../../img/test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
#slogan {
  font-family: "Armor Mincho";
  font-size: 40px;
  color: white;
  #first_line {
    position: absolute;
    left: 30vw;
    top: 45%;
  }
  #second_line {
    position: absolute;
    left: 50vw;
    top: 55%;
  }
}
footer {
  background-color: rgb(196, 196, 196);
  padding: 20px;
  h4 {
    font-family: "GenSenRounded";
  }
}
@media only screen and (max-width: 992px) {
  #slogan {
    #first_line {
      left: 25vw;
    }
    #second_line {
      left: 45vw;
    }
  }
}
@media only screen and (max-width: 475px) {
  #slogan {
    font-size: 30px;
    #first_line {
      left: 15vw;
    }
    #second_line {
      left: 35vw;
    }
  }
}
@media only screen and (max-width: 400px) {
  .logo_sm {
    display: block !important;
    padding-left: 10px;
  }
  .logo {
    display: none !important;
  }
}
