#members {
  padding-bottom: 30px;
  width: 65vw;
  h1 {
    color: #1a6584;
    font-family: "cwTeXFangSong", serif !important;
  }
  .member {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 8px rgb(145, 145, 145);
    width: 175px;
    height: 205px;
  }
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    padding: 0 50px;
  }
  h4 {
    color: rgb(99, 99, 99);
    margin: 40px 0 50px 0;
    font-family: "Noto Sans TC", sans-serif;
  }
}
@media only screen and (max-width: 1316px) {
  #members {
    width: 85vw;
  }
}
@media only screen and (max-width: 1011px) {
  #members {
    width: 96vw;
  }
}
