#members {
  padding-bottom: 30px;
  width: 65vw;
  h1 {
    color: #1a6584;
    font-family: "Armor Mincho";
  }
  .row {
    display: flex;
    justify-content: center;
  }
  .member {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 8px rgb(145, 145, 145);
    width: 170px;
    height: 200px;
  }
  h4 {
    color: rgb(99, 99, 99);
    margin: 40px 0 50px 0;
    font-family: "GenSenRounded";
  }
}
@media only screen and (max-width: 767px) {
  .row {
    display: block !important;
  }
}
