.news {
  padding-bottom: 50px;
  h1 {
    font-family: "cwTeXFangSong", serif !important;
    color: #1a6584;
    font-weight: bold;
    border-bottom: 2px solid #1a6584;
    width: 70%;
    margin: 20px auto;
    padding: 10px 0;
  }
  table,
  th,
  td {
    border: 1px solid gray;
    border-collapse: collapse;
  }
  table {
    font-family: "Microsoft JhengHei";
    margin: 0 auto;
    font-size: 20px;
    width: 80vw;
  }
  th {
    padding: 5px 10px;
  }
  td {
    padding: 5px;
    a {
      color: #155c7a;
      text-decoration: none;
      transition: all 0.4s ease;
    }
    a:hover {
      color: #499faa;
    }
  }
  .author_td,
  .date_td {
    vertical-align: top;
    white-space: nowrap;
  }
  .title_td {
    padding-left: 1em;
  }
  th {
    background-color: rgb(224, 224, 224);
    text-align: center;
  }
  .pagination-container {
    text-align: center;
    a {
      cursor: pointer;
      color: rgb(63, 63, 63);
      font-size: 20px;
      padding: 3px 10px;
      margin: 0 10px;
      border: none;
      border-radius: 70%;
      transition: all 0.2s ease;
    }
    a:hover {
      background-color: #9ccee6;
      color: white;
    }
    .disabled > a {
      cursor: default !important;
      color: rgb(63, 63, 63);
    }
    .disabled > a:hover {
      color: rgb(63, 63, 63);
    }
    .active > a {
      background-color: #1a6584;
    }
    .active > a:hover {
      background-color: #1a6584;
    }
    .first > a,
    .last > a {
      display: none;
    }
  }
}
@media only screen and (max-width: 930px) {
  .news {
    padding: 0 0 50px 0;
    table {
      width: 100%;
      font-size: 15px;
    }
  }
}
