#news {
  padding-bottom: 50px;
  h1 {
    font-family: "Armor Mincho";
    color: #1a6584;
    font-weight: bold;
    border-bottom: 2px solid #1a6584;
    width: 70%;
    margin: 20px auto;
    padding: 10px 0;
  }
  table,
  th,
  td {
    border: 1px solid gray;
    border-collapse: collapse;
  }
  table {
    font-family: "Microsoft JhengHei";
    margin: 0 auto;
    font-size: 20px;
    width: 80vw;
  }
  th {
    padding: 5px 10px;
  }
  td {
    padding: 3px;
    a {
      color: #155c7a;
      text-decoration: none;
      transition: all 0.4s ease;
    }
    a:hover {
      color: #499faa;
    }
  }
  .author_td,
  .date_td {
    vertical-align: top;
    white-space: nowrap;
  }
  th {
    background-color: rgb(224, 224, 224);
    text-align: center;
  }
  .pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    #current,
    span,
    a {
      color: rgb(104, 104, 104);
      height: 30px;
      font-size: 20px;
      font-family: "Microsoft JhengHei";
      padding: 0 10px;
      margin: 0 10px;
      border-radius: 50%;
    }
    #current {
      color: white;
      font-weight: bold;
      background-color: #3690b6;
    }
    a {
      text-decoration: none;
      transition: all 0.2s ease;
    }
    a:hover {
      font-weight: bold;
      color: white;
      background-color: #98cde4;
    }
  }
}
@media only screen and (max-width: 930px) {
  #news {
    padding: 0 0 50px 0;
    table {
      font-size: 15px;
      width: 95vw;
    }
    td {
      padding: 5px;
    }
  }
}
