.posts {
  padding-bottom: 40px;
  h1,
  p {
    font-family: "Microsoft JhengHei";
  }
  h1 {
    font-size: 30px;
    color: #316588;
  }
  .content {
    font-size: 20px;
  }
}
@media only screen and (max-width: 930px) {
  .posts {
    h1 {
      font-size: 25px;
    }
    .content {
      font-size: 17px;
    }
  }
}
