---
layout: compress
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>台灣智慧資通訊學會</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/logo.ico" />
    <script
      src="https://kit.fontawesome.com/c02a0f7667.js"
      crossorigin="anonymous"
    ></script>
    {% feed_meta %} {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <!-- unless page.url == "/" -->
    <div id="background_top" style="opacity: 0">
      <h2 id="slogan">
        <span id="first_line">5G新時代 ，</span>
        <span id="second_line">全心零距離</span>
      </h2>
    </div>
    <!-- endunless -->
    <div id="top"></div>
    {% include breadcrumbs.html path=page.path title=page.title %} {{ content }}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-4">
            <img
              src="{{ site.baseurl }}/assets/img/logo2.png"
              style="width: 170px; margin: 20px"
            />
          </div>
          <div class="col-md-6 col-sm-8">
            <h4>台灣智慧資通訊學會</h4>
            <h4>服務時間 | 周一至五10:00~17:00(例假日休)</h4>
            <h4>會址 | 106319台北市大安區羅斯福路四段一號電機二館532室</h4>
            <h4>TEL | 02-33663700 分機 532</h4>
            <h4>
              E-mail |
              <a href="mailto:taiict2019@gmail.com">taiict2019@gmail.com</a>
            </h4>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script
    type="text/javascript"
    src="{{ site.baseurl }}/assets/js/paginathing.min.js"
  ></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</html>
